body {
    background-color: lightseagreen;
}

h1 {
    color: black;
}

li {
    background-color: lightcoral;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

li:hover {
    background-color: lightseagreen;
}

a {
    color: black;
}

ul {
    list-style: none;
}

h1 {
    text-align: center;
}