body {
    background-color: lightslategray;
}

li {
    background-color: gray;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

li:hover {
    background-color: white;
}

a {
    color: lightgreen;
}

ul {
    list-style: none;
}

h1 {
    text-align: center;
}